body {
  padding: 70px 0;
  text-align: center;
  }
  .btn {
    cursor: pointer;
  }
  body {
    color: #30222d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
  }